.header {
    background-color: blue;
    color: white;
    font-size: 16px;
}

.btn:hover {
    background-color: green;
}

.footer {
    background-color: black;
    color: white;
    font-size: 14px;
}
.btn {
    background-color: red;
    color: white;
    font-size: 14px;
}
.btn:active {
    background-color: darkred;
}

p{
    color: red;
}